# cache
__pycache__/

# data
data/

# config
config/*.yaml
!config/steel.yaml

# log
log/*.log
!log/sample_train0_gpu6_bResNext-101_wd0.001_i500000.log

# outputs
saved_prediction/
saved_model/

# sh_files
sh_files/*.sh
!sh_files/sample_train0.sh

# augment csv
/*vflip10.csv
!MSoS_main_add.csv
